
<div class="container">

      <div class="row row-offcanvas row-offcanvas-right">

        <div class="col-xs-12 col-sm-9">
          <p class="pull-right visible-xs">

          </p>
          <div class="col-md-10 text-center v-center">
            <h1>Get Connected With Hackers</h1>
            <p class="lead">New Social Network For Hackers. Sign up!</p>
          </div>

          <div class="row">
  <div class="col-md-4 text-center">
    <div><img src="https://image.ibb.co/mjaTF6/chat.png"></div>
    <div><h4>News Feed</h4></div>
    <div>Mirke: Hi! I'm a newbie. I want to learn  hacking. <br>HAKERIN: Hi there, i can teach you hacking.<br>Mirke: Yeah! I really wanna learn that. When do we start? <br>HAKERIN: We just did. Welcome to the Hakerin Social Network. You can freely post, ask and learn from other hackers or security researchers.</div>
  </div>
  <div class="col-md-4 text-center">
    <div><img src="https://image.ibb.co/fpgzoR/desktop_2.png"></div>
    <div><h4>Hacking Tutorials</h4></div>
    <div>Learn Ethical Hacking in simple and easy steps starting from basic to advanced concepts with examples including  Tools, Footprinting, Fingerprinting, Sniffing, Tools, ARP, DNS Poisoning, Exploitation, Enumeration, Metasploit, Trojan Attacks, TCP/IP Hijacking, Email Hijacking, Wireless Hacking, Social Engineering, DDOS Attacks, Cross Site Scripting, SQL Injection, Pen Testing</div>
  </div>
  <div class="col-md-4 text-center">
    <div><img src="https://image.ibb.co/n4a0TR/video_chat.png"></div>
    <div><h4>Programming</h4></div>
    <div>Learn Computer Programming in simple and easy steps starting from basic to advanced concepts with examples including computer programming, environment setup, basic syntax, variables, data types, operators, loops, decision making, numbers, strings, characters, arrays, function and file I/O</div>
  </div>
</div>



          <br><br><br><br><br><br>


        <br>



      <hr>

      <footer>
        <p>&copy; 2017 Hakerin, Inc.</p>
      </footer>

    </div><!--/.container-->
    <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar">
      <br>
      <h3>Register Yourself</h3>
      <br>
      
